.filter-container {
  text-align: center;
}
.car-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9dad9;
}

.p-col {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0em;
}

.car-details > div {
  display: flex;
  align-items: center;
}
.car-details > div img {
  margin-right: 14px;
}
.car-detail {
  padding: 0 1em 1em 1em;
  border-bottom: 1px solid #d9dad9;
  margin: 1em;
}
.ui-panel-content {
  padding: 1em;
}
.dark-theme :host ::ng-deep .car-details,
.dark-theme :host ::ng-deep .car-detail {
  border-bottom: 1px solid #191919;
}

@media (max-width: 1024px) {
  .car-details img {
    width: 75px;
  }
  .filter-container {
    text-align: left;
  }
}

::ng-deep p-dialog .ui-dialog {
    overflow: scroll;
    max-height: 100%;
}
