
  <button pButton type="button" (click)="agregarHechizo($event)" label="Agregar hechizo" class="ui-button-raised ui-button-success mb-3 shadow rounded"></button>

  <p-dataView #dv [value]="hechizos" [paginator]="true" [rows]="15" paginatorPosition="both" filterBy="nombre"
  [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
      <div class="ui-helper-clearfix">
          <div class="p-grid mt-3">
              <div class="p-col">
                  <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordenar por" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
              </div>
              <div class="p-col filter-container">
                  <div style="position:relative">
                      <input [(ngModel)]="filtroTexto"  type="search" pInputText placeholder="Buscar..." (input)="filtrarClase()">
                  </div>
              </div>
              <div class="p-col filter-container">
                <div style="position:relative">
                    <p-multiSelect (onChange)="filtrarClase($event)" maxSelectedLabels="12" [options]="clases" [panelStyle]="{minWidth:'12em'}" [(ngModel)]="filterClases" optionLabel="nombre"></p-multiSelect>
                </div>
            </div>
              <div class="p-col" style="text-align:right">
                  <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
              </div>
          </div>
      </div>
  </p-header>

  
  <ng-template let-hechizo pTemplate="listItem">
      <div class="ui-g-12 border shadow mt-2"  (click)="verDescripcionVista($event,hechizo)" >
          <div class="car-details">
            <div class="p-grid" >
              <div class="p-col-fixed" style="width:100px">
                <img src="assets/imgs/icon-escuelas/{{hechizo.escuela.nombre}}.png" alt="{{hechizo.escuela.nombre}}">
              </div>
              <div class="p-col">
                <div class="p-grid p-dir-col">
                  <div class="p-col">ID: <b>{{hechizo.id}}</b></div>
                  <div class="p-col">nombre: <b>{{hechizo.nombre}}</b></div>
                </div>
              </div>

        </div>
        <div class="p-col p-justify-end">
            <button pButton type="button" *ngIf="!estaAbierto(hechizo)" icon="pi pi-plus"></button>
            <button pButton type="button" *ngIf="estaAbierto(hechizo)" icon="pi pi-minus"></button>

          </div>

          </div>
      </div>

      <div *ngIf="descripcionVista[hechizo.id].estadoDescripcion" class="p-col-12">
        <hr>
        <app-detalle-hechizo [hechizo]="hechizo"></app-detalle-hechizo>
    </div>
  </ng-template>


  <ng-template let-hechizo pTemplate="gridItem">
      <div style="padding:.5em" class="ui-g-12 ui-md-3">
          <p-panel [header]="hechizo.nombre" [style]="{'text-align':'center'}">
             <div class="car-detail">Id: {{hechizo.id}}</div>
              <div class="car-detail">{{hechizo.nombre}} - {{hechizo.nivel}}</div>
              <hr class="ui-widget-content" style="border-top:0">
              <button pButton type="button" icon="pi pi-search" (click)="selectHechizo($event, hechizo)" style="margin-top:0"></button>
          </p-panel>
      </div>
  </ng-template>


</p-dataView>



<p-dialog blockScroll="false" header="Agregar hechizo" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '70vw', 'position':'absolute'}"  (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="crearHechizoDialog">
  <app-cargar-hechizo></app-cargar-hechizo>
  </div>
</p-dialog>