<div style="background-color: whitesmoke;">

<div class="container" style="background-color: white;">
    <app-navbar></app-navbar>
    <div class = "pt-3">
        <app-listar-hechizo></app-listar-hechizo>
    </div>
</div>
</div>