<p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>

<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>





<div class="row">
  <div class="input-group mb-3">
    <div class="col-xl-4">
      <label for="form-check-label">Nombre en espaniol:</label>
      <input
        type="text"
        class="form-control"
        placeholder="nombre en espaniol"
        [(ngModel)]="hechizo.nombre"
        aria-label="nombreHechizo"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="col-xl-4">
      <label for="form-check-label">Nombre en ingles:</label>
        <input
          type="text"
          class="form-control"
          placeholder="nombre en ingles"
          [(ngModel)]="hechizo.nombreIngles"
          aria-label="nombreHechizo"
          aria-describedby="basic-addon1"
        />
    </div>
  </div>
</div>

<div class="row">
  <div class="input-group mb-3">
    <div class="col-xl-4">
      <label for="form-check-label">Rango:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Rango"
        [(ngModel)]="hechizo.rango"
        aria-label="nombreHechizo"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="col-xl-4">
      <label for="form-check-label">Duracion:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Duracion"
        [(ngModel)]="hechizo.duracion"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="col-xl-4">
      <label for="form-check-label">Tiempo de casteo:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Tiempo de casteo"
        [(ngModel)]="hechizo.tiempoDeCasteo"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
</div>

<div class="row">
  <div class="input-group mb-3">
    <div class="col-xl-4">
      <label for="form-check-label">Escuela:</label>
      <select class="custom-select" id="escuela" [(ngModel)]="hechizo.escuela">
        <option *ngFor="let escuela of $escuela | async" [ngValue]="escuela">{{escuela.nombre}}</option>
      </select>
    </div>
    <div class="col-xl-4">
      <label for="form-check-label">Clases:</label>
  
      <ng-select
        [items]="$clases | async"
        [multiple]="true"
        bindLabel="nombre"
        [selectableGroup]="true"
        [closeOnSelect]="false"
        [(ngModel)]="hechizo.clases"
      >
        <ng-template
          ng-optgroup-tmp
          let-item="item"
          let-item$="item$"
          let-index="index"
        >
          <input
            id="item-{{ index }}"
            type="checkbox"
            [ngModel]="item$.selected"
          />
          {{ item| uppercase }}
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected"/>
          {{ item.nombre }}
        </ng-template>
      </ng-select>
    </div>
    <div class="col-xl-2">
      <label for="form-check-label">Nivel:</label>
        <select class="custom-select" id="nivel" [(ngModel)]="hechizo.nivel">
          <option selected value="0">Truco</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          
        </select>
      </div>


  </div>
</div>


<div class="row">
  <div class="col-xl-1">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="true" [(ngModel)]="hechizo.componenteVerbal">
      <label class="form-check-label" for="inlineCheckbox1">Verbal</label>
    </div>
  </div>

  <div class="col-xl-1">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="true"  [(ngModel)]="hechizo.componenteSomatico">
      <label class="form-check-label" for="inlineCheckbox2">Somatico</label>
    </div>
  </div>

  <div class="col-xl-1">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="true" [(ngModel)]="hechizo.componenteMaterial">
      <label class="form-check-label" for="inlineCheckbox3">Material</label>
    </div>
  </div>

  <div class="col-xl-4">
    <div class="input-group mb-3">
      <input
      *ngIf="hechizo.componenteMaterial"
        type="text"
        class="form-control"
        placeholder="descripcion"
        [(ngModel)]="hechizo.descripcionComponente"
        aria-label="nombreHechizo"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>

</div>


<div class="row">

  <div class="col-xl-1">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="true" [(ngModel)]="hechizo.ritual">
      <label class="form-check-label" for="inlineCheckbox4">Ritual</label>
    </div>
  </div>

  <div class="col-xl-1">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="true"  [(ngModel)]="hechizo.concentracion">
      <label class="form-check-label" for="inlineCheckbox5">Concentracion</label>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-xl-12">
    <label for="form-check-label">Descripcion:</label>
    <div class="input-group mb-3">
      <angular-editor
        [placeholder]="'Enter text here...'"
        [(ngModel)]="hechizo.descripcion"
      ></angular-editor>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <label for="form-check-label">A mayor nivel:</label>
    <div class="input-group mb-3">
      <angular-editor
        [placeholder]="'Enter text here...'"
        [(ngModel)]="hechizo.aMayorNivel"
      ></angular-editor>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-2">
    <button type="button" (click)="crear()" name="" id="" class="btn btn-success btn-lg btn-block">agregar</button>
  </div>
</div>
<p>{{ hechizo | json }}</p>
