<div *ngIf="hechizo">
  <div class="p-grid">
    <div class="p-col">
      Nivel: <b>{{ hechizo.nivel }}</b>
    </div>
    <div class="p-col">
      Clases:
      <span
        style="margin-left: 0.4em;"
        class="badge badge-dark"
        *ngFor="let clase of hechizo.clases"
      >
        {{ clase.nombre }}
      </span>
    </div>
    <div class="p-col">
      Escuela: <b>{{ hechizo.escuela.nombre }}</b>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      Rango: <b> {{ hechizo.rango }} </b>
    </div>

    <div class="p-col">
      Duracion: <b> {{ hechizo.duracion }} </b>
    </div>

    
    <div class="p-col">
        Tiempo de casteo: <b> {{ hechizo.tiempoDeCasteo }} </b>
      </div>
  </div>

  <div class="p-grid">
    <div class="p-col">
      <p-panel header="Descripcion">
        <div [innerHTML]="hechizo.descripcion"></div>
      </p-panel>
    </div>
  </div>

  <div class="p-grid" *ngIf="hechizo.aMayorNivel">
    <div class="p-col">
      <p-panel header="A mayor nivel">
        <div [innerHTML]="hechizo.aMayorNivel"></div>
      </p-panel>
    </div>
  </div>
</div>
